.h1{
text-align: center;
color: rgb(245, 240, 240);
}

    #b1{
        background-color: rgba(255, 249, 249, 0.781);
    }

    .d1{
        background-color: rgba(180, 16, 16, 0.952);
       
    }

  